CompositeApp1/src/jbiServiceUnits/TestBPEL/config/napi.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-hudson-48-. -->
<definitions targetNamespace="http://beeline.ru/napi" name="NAPIService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://beeline.ru/napi"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mysp="http://sun.com/ws/httpbc/security/BasicauthSecurityPolicy"
             xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:basp="http://sun.com/ws/httpbc/security/BasicauthSecurityPolicy"
             xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://beeline.ru/napi" schemaLocation="./napi.xsd"/>
        </xsd:schema>
    </types>
    
    <message name="changePP">
        <part name="parameters" element="tns:ChangePP"/>
    </message>
    <message name="changePPResponse">
        <part name="parameters" element="tns:ChangePPResponse"/>
    </message>
    <message name="searchByResourceResponse">
        <part name="parameters" element="tns:searchByResourceResponse"/>
    </message>
    <message name="searchByResource">
        <part name="parameters" element="tns:searchByResource"/>
    </message>
    <message name="addService">
        <part name="parameters" element="tns:addService"/>
    </message>
    <message name="addServiceResponse">
        <part name="parameters" element="tns:addServiceResponse"/>
    </message>
    <message name="ServiceException">
        <part name="fault" element="tns:ServiceException"/>
    </message>
    <message name="getPPorSocByRequestId">
        <part name="parameters" element="tns:getPPorSocByRequestId"/>
    </message>
    <message name="getPPorSocByRequestIdResponse">
        <part name="parameters" element="tns:getPPorSocByRequestIdResponse"/>
    </message>
    <message name="createOcCharge">
        <part name="parameters" element="tns:createOcCharge"/>
    </message>
    <message name="createOcChargeResponse">
        <part name="parameters" element="tns:createOcChargeResponse"/>
    </message>
    <message name="createOcBonus">
        <part name="parameters" element="tns:createOcBonus"/>
    </message>
    <message name="createOcBonusResponse">
        <part name="parameters" element="tns:createOcBonusResponse"/>
    </message>
    <message name="addParametrizedPPorSocByRequestId">
        <part name="parameters" element="tns:addParametrizedPPorSocByRequestId"/>
    </message>
    <message name="addParametrizedPPorSocByRequestIdResponse">
        <part name="parameters" element="tns:addParametrizedPPorSocByRequestIdResponse"/>
    </message>
    <message name="fttbChangePPorSocAndFeatureParamByRequestId">
        <part name="parameters" element="tns:fttbChangePPorSocAndFeatureParamByRequestId"/>
    </message>
    <message name="fttbChangePPorSocAndFeatureParamByRequestIdResponse">
        <part name="parameters" element="tns:fttbChangePPorSocAndFeatureParamByRequestIdResponse"/>
    </message>
    <message name="delParametrizedPPorSocByRequestId">
        <part name="parameters" element="tns:delParametrizedPPorSocByRequestId"/>
    </message>
    <message name="delParametrizedPPorSocByRequestIdResponse">
        <part name="parameters" element="tns:delParametrizedPPorSocByRequestIdResponse"/>
    </message>
    <message name="activateEosConnection">
        <part name="parameters" element="tns:activateEosConnection"/>
    </message>
    <message name="activateEosConnectionResponse">
        <part name="parameters" element="tns:activateEosConnectionResponse"/>
    </message>
    <message name="updateEosClientInfo">
        <part name="parameters" element="tns:updateEosClientInfo"/>
    </message>
    <message name="updateEosClientInfoResponse">
        <part name="parameters" element="tns:updateEosClientInfoResponse"/>
    </message>
    <message name="changeEosAddressByRequestId">
        <part name="parameters" element="tns:changeEosAddressByRequestId"/>
    </message>
    <message name="changeEosAddressByRequestIdResponse">
        <part name="parameters" element="tns:changeEosAddressByRequestIdResponse"/>
    </message>
    <message name="changeEosNameByRequestId">
        <part name="parameters" element="tns:changeEosNameByRequestId"/>
    </message>
    <message name="changeEosNameByRequestIdResponse">
        <part name="parameters" element="tns:changeEosNameByRequestIdResponse"/>
    </message>
    <message name="activateCTN">
        <part name="parameters" element="tns:activateCTN"/>
    </message>
    <message name="activateCTNResponse">
        <part name="parameters" element="tns:activateCTNResponse"/>
    </message>
    <message name="addSOC">
        <part name="parameters" element="tns:addSOC"/>
    </message>
    <message name="addSOCResponse">
        <part name="parameters" element="tns:addSOCResponse"/>
    </message>
    <message name="cancelCTN">
        <part name="parameters" element="tns:cancelCTN"/>
    </message>
    <message name="cancelCTNResponse">
        <part name="parameters" element="tns:cancelCTNResponse"/>
    </message>
    <message name="changeCtn">
        <part name="parameters" element="tns:changeCtn"/>
    </message>
    <message name="changeCtnResponse">
        <part name="parameters" element="tns:changeCtnResponse"/>
    </message>
    <message name="changeCustomerProperty">
        <part name="parameters" element="tns:changeCustomerProperty"/>
    </message>
    <message name="changeCustomerPropertyResponse">
        <part name="parameters" element="tns:changeCustomerPropertyResponse"/>
    </message>
    <message name="changeFeatureParameters">
        <part name="parameters" element="tns:changeFeatureParameters"/>
    </message>
    <message name="changeFeatureParametersResponse">
        <part name="parameters" element="tns:changeFeatureParametersResponse"/>
    </message>
    <message name="checkRegistrationType">
        <part name="parameters" element="tns:checkRegistrationType"/>
    </message>
    <message name="checkRegistrationTypeResponse">
        <part name="parameters" element="tns:checkRegistrationTypeResponse"/>
    </message>
    <message name="createSubscriberAppl">
        <part name="parameters" element="tns:createSubscriberAppl"/>
    </message>
    <message name="createSubscriberApplResponse">
        <part name="parameters" element="tns:createSubscriberApplResponse"/>
    </message>
    <message name="deleteCTN">
        <part name="parameters" element="tns:deleteCTN"/>
    </message>
    <message name="deleteCTNResponse">
        <part name="parameters" element="tns:deleteCTNResponse"/>
    </message>
    <message name="delService">
        <part name="parameters" element="tns:delService"/>
    </message>
    <message name="delServiceResponse">
        <part name="parameters" element="tns:delServiceResponse"/>
    </message>
    <message name="delSOC">
        <part name="parameters" element="tns:delSOC"/>
    </message>
    <message name="delSOCResponse">
        <part name="parameters" element="tns:delSOCResponse"/>
    </message>
    <message name="getBanBalance">
        <part name="parameters" element="tns:getBanBalance"/>
    </message>
    <message name="getBanBalanceResponse">
        <part name="parameters" element="tns:getBanBalanceResponse"/>
    </message>
    <message name="getBanSubscribers">
        <part name="parameters" element="tns:getBanSubscribers"/>
    </message>
    <message name="getBanSubscribersResponse">
        <part name="parameters" element="tns:getBanSubscribersResponse"/>
    </message>
    <message name="getCountCtnOnBan">
        <part name="parameters" element="tns:getCountCtnOnBan"/>
    </message>
    <message name="getCountCtnOnBanResponse">
        <part name="parameters" element="tns:getCountCtnOnBanResponse"/>
    </message>
    <message name="getServiceList">
        <part name="parameters" element="tns:getServiceList"/>
    </message>
    <message name="getServiceListResponse">
        <part name="parameters" element="tns:getServiceListResponse"/>
    </message>
    <message name="getSubscriberInfo">
        <part name="parameters" element="tns:getSubscriberInfo"/>
    </message>
    <message name="getSubscriberInfoResponse">
        <part name="parameters" element="tns:getSubscriberInfoResponse"/>
    </message>
    <message name="getUsage">
        <part name="parameters" element="tns:getUsage"/>
    </message>
    <message name="getUsageResponse">
        <part name="parameters" element="tns:getUsageResponse"/>
    </message>
    <message name="loadCTN">
        <part name="parameters" element="tns:loadCTN"/>
    </message>
    <message name="loadCTNResponse">
        <part name="parameters" element="tns:loadCTNResponse"/>
    </message>
    <message name="replaceSIM">
        <part name="parameters" element="tns:replaceSIM"/>
    </message>
    <message name="replaceSIMResponse">
        <part name="parameters" element="tns:replaceSIMResponse"/>
    </message>
    <message name="restoreCTN">
        <part name="parameters" element="tns:restoreCTN"/>
    </message>
    <message name="restoreCTNResponse">
        <part name="parameters" element="tns:restoreCTNResponse"/>
    </message>
    <message name="suspendCTN">
        <part name="parameters" element="tns:suspendCTN"/>
    </message>
    <message name="suspendCTNResponse">
        <part name="parameters" element="tns:suspendCTNResponse"/>
    </message>
    <message name="suspendImsiOrCtn">
        <part name="parameters" element="tns:suspendImsiOrCtn"/>
    </message>
    <message name="suspendImsiOrCtnResponse">
        <part name="parameters" element="tns:suspendImsiOrCtnResponse"/>
    </message>
    <message name="insertAgreement">
        <part name="parameters" element="tns:insertAgreement"/>
    </message>
    <message name="insertAgreementResponse">
        <part name="parameters" element="tns:insertAgreementResponse"/>
    </message>
    <message name="delDiscount">
        <part name="parameters" element="tns:delDiscount"/>
    </message>
    <message name="delDiscountResponse">
        <part name="parameters" element="tns:delDiscountResponse"/>
    </message>

    <message name="CreateEosConnectionRequest">
        <part name="parameters" element="tns:CreateEosConnectionRequest"/>
    </message>
    <message name="CreateEosConnectionResponse">
        <part name="parameters" element="tns:CreateEosConnectionResponse"/>
    </message>
    <message name="CancelEosConnectionRequest">
        <part name="parameters" element="tns:CancelEosConnectionRequest"/>
    </message>
    <message name="CancelEosConnectionResponse">
        <part name="parameters" element="tns:CancelEosConnectionResponse"/>
    </message>
    <message name="ReserveEosResourceRequest">
        <part name="parameters" element="tns:ReserveEosResourceRequest"/>
    </message>
    <message name="ReserveEosResourceResponse">
        <part name="parameters" element="tns:ReserveEosResourceResponse"/>
    </message>
    <message name="ChangeEosLineRequest">
        <part name="parameters" element="tns:ChangeEosLineRequest"/>
    </message>
    <message name="ChangeEosLineResponse">
        <part name="parameters" element="tns:ChangeEosLineResponse"/>
    </message>
    <message name="ChangeEosNameAddressRequest">
        <part name="parameters" element="tns:ChangeEosNameAddressRequest"/>
    </message>
    <message name="ChangeEosNameAddressResponse">
        <part name="parameters" element="tns:ChangeEosNameAddressResponse"/>
    </message>

    <!-- OBS -->

    <message name="disableFeatureRequest">
        <part name="parameters" element="tns:disableFeatureRequest"/>
    </message>
    <message name="disableFeatureResponse">
        <part name="parameters" element="tns:disableFeatureResponse"/>
    </message>

    <message name="enableFeatureRequest">
        <part name="parameters" element="tns:enableFeatureRequest"/>
    </message>
    <message name="enableFeatureResponse">
        <part name="parameters" element="tns:enableFeatureResponse"/>
    </message>

    <message name="findHierarchyIdRequest">
        <part name="parameters" element="tns:findHierarchyIdRequest"/>
    </message>
    <message name="findHierarchyIdResponse">
        <part name="parameters" element="tns:findHierarchyIdResponse"/>
    </message>

    <message name="getAbonentInfoRequest">
        <part name="parameters" element="tns:getAbonentInfoRequest"/>
    </message>
    <message name="getAbonentInfoResponse">
        <part name="parameters" element="tns:getAbonentInfoResponse"/>
    </message>

    <message name="getAgreementInfoRequest">
        <part name="parameters" element="tns:getAgreementInfoRequest"/>
    </message>
    <message name="getAgreementInfoResponse">
        <part name="parameters" element="tns:getAgreementInfoResponse"/>
    </message>

    <message name="isCtnBelongToBanRequest">
        <part name="parameters" element="tns:isCtnBelongToBanRequest"/>
    </message>
    <message name="isCtnBelongToBanResponse">
        <part name="parameters" element="tns:isCtnBelongToBanResponse"/>
    </message>

    <message name="retrieveBANsLisRequest">
        <part name="parameters" element="tns:retrieveBANsListRequest"/>
    </message>
    <message name="retrieveBANsListResponse">
        <part name="parameters" element="tns:retrieveBANsListResponse"/>
    </message>

    <message name="retrieveCTNsListWithElementFilterRequest">
        <part name="parameters" element="tns:retrieveCTNsListWithElementFilterRequest"/>
    </message>
    <message name="retrieveCTNsListWithElementFilterResponse">
        <part name="parameters" element="tns:retrieveCTNsListWithElementFilterResponse"/>
    </message>

    <message name="retrieveCustomerHierarchyRequest">
        <part name="parameters" element="tns:retrieveCustomerHierarchyRequest"/>
    </message>
    <message name="retrieveCustomerHierarchyResponse">
        <part name="parameters" element="tns:retrieveCustomerHierarchyResponse"/>
    </message>

    <message name="updateAgreementParamsRequest">
        <part name="parameters" element="tns:updateAgreementParamsRequest"/>
    </message>
    <message name="updateAgreementParamsResponse">
        <part name="parameters" element="tns:updateAgreementParamsResponse"/>
    </message>

    <message name="getCustomerPropertiesRequest">
        <part name="parameters" element="tns:getCustomerProperties"/>
    </message>
    <message name="getCustomerPropertiesResponse">
        <part name="parameters" element="tns:getCustomerPropertiesResponse"/>
    </message>

    <!-- OBS -->

    <message name="activateEosConnectionWithBan">
        <part name="parameters" element="tns:activateEosConnectionWithBAN"/>
    </message>
    <message name="activateEosConnectionWithBanResponce">
        <part name="parameters" element="tns:activateEosConnectionWithBANResponse"/>
    </message>

    <message name="createBankPaymentRequest">
        <part name="parameters" element="tns:createBankPaymentRequest"/>
    </message>
    <message name="createBankPaymentResponse">
        <part name="parameters" element="tns:createBankPaymentResponse"/>
    </message>
    <message name="cancelPaymentRequest">
        <part name="parameters" element="tns:cancelPaymentRequest"/>
    </message>
    <message name="cancelPaymentResponse">
        <part name="parameters" element="tns:cancelPaymentResponse"/>
    </message>
    <message name="createMEMO">
        <part name="parameters" element="tns:createMEMO"/>
    </message>
    <message name="createMEMOResponse">
        <part name="parameters" element="tns:createMEMOResponse"/>
    </message>


    <!-- portType -->

    <portType name="NAPIEjbBean">
        <operation name="changePP">
            <input message="tns:changePP"/>
            <output message="tns:changePPResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="searchByResource">
            <input message="tns:searchByResource"/>
            <output message="tns:searchByResourceResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="addService">
            <input message="tns:addService"/>
            <output message="tns:addServiceResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getPPorSocByRequestId">
            <input message="tns:getPPorSocByRequestId"/>
            <output message="tns:getPPorSocByRequestIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="createOcCharge">
            <input message="tns:createOcCharge"/>
            <output message="tns:createOcChargeResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="createOcBonus">
            <input message="tns:createOcBonus"/>
            <output message="tns:createOcBonusResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="addParametrizedPPorSocByRequestId">
            <input message="tns:addParametrizedPPorSocByRequestId"/>
            <output message="tns:addParametrizedPPorSocByRequestIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="fttbChangePPorSocAndFeatureParamByRequestId">
            <input message="tns:fttbChangePPorSocAndFeatureParamByRequestId"/>
            <output message="tns:fttbChangePPorSocAndFeatureParamByRequestIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="delParametrizedPPorSocByRequestId">
            <input message="tns:delParametrizedPPorSocByRequestId"/>
            <output message="tns:delParametrizedPPorSocByRequestIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="activateEosConnection">
            <input message="tns:activateEosConnection"/>
            <output message="tns:activateEosConnectionResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="updateEosClientInfo">
            <input message="tns:updateEosClientInfo"/>
            <output message="tns:updateEosClientInfoResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="changeEosAddressByRequestId">
            <input message="tns:changeEosAddressByRequestId"/>
            <output message="tns:changeEosAddressByRequestIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="changeEosNameByRequestId">
            <input message="tns:changeEosNameByRequestId"/>
            <output message="tns:changeEosNameByRequestIdResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="activateCTN">
            <input message="tns:activateCTN"/>
            <output message="tns:activateCTNResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="addSOC">
            <input message="tns:addSOC"/>
            <output message="tns:addSOCResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="cancelCTN">
            <input message="tns:cancelCTN"/>
            <output message="tns:cancelCTNResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="changeCtn">
            <input message="tns:changeCtn"/>
            <output message="tns:changeCtnResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="changeCustomerProperty">
            <input message="tns:changeCustomerProperty"/>
            <output message="tns:changeCustomerPropertyResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="changeFeatureParameters">
            <input message="tns:changeFeatureParameters"/>
            <output message="tns:changeFeatureParametersResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="checkRegistrationType">
            <input message="tns:checkRegistrationType"/>
            <output message="tns:checkRegistrationTypeResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="createSubscriberAppl">
            <input message="tns:createSubscriberAppl"/>
            <output message="tns:createSubscriberApplResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="deleteCTN">
            <input message="tns:deleteCTN"/>
            <output message="tns:deleteCTNResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="delService">
            <input message="tns:delService"/>
            <output message="tns:delServiceResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="delSOC">
            <input message="tns:delSOC"/>
            <output message="tns:delSOCResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getBanBalance">
            <input message="tns:getBanBalance"/>
            <output message="tns:getBanBalanceResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getBanSubscribers">
            <input message="tns:getBanSubscribers"/>
            <output message="tns:getBanSubscribersResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getCountCtnOnBan">
            <input message="tns:getCountCtnOnBan"/>
            <output message="tns:getCountCtnOnBanResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getServiceList">
            <input message="tns:getServiceList"/>
            <output message="tns:getServiceListResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getSubscriberInfo">
            <input message="tns:getSubscriberInfo"/>
            <output message="tns:getSubscriberInfoResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getUsage">
            <input message="tns:getUsage"/>
            <output message="tns:getUsageResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="loadCTN">
            <input message="tns:loadCTN"/>
            <output message="tns:loadCTNResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="replaceSIM">
            <input message="tns:replaceSIM"/>
            <output message="tns:replaceSIMResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="restoreCTN">
            <input message="tns:restoreCTN"/>
            <output message="tns:restoreCTNResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="suspendCTN">
            <input message="tns:suspendCTN"/>
            <output message="tns:suspendCTNResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="suspendImsiOrCtn">
            <input message="tns:suspendImsiOrCtn"/>
            <output message="tns:suspendImsiOrCtnResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="insertAgreement">
            <input message="tns:insertAgreement"/>
            <output message="tns:insertAgreementResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="delDiscount">
            <input message="tns:delDiscount"/>
            <output message="tns:delDiscountResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="createEosConnection">
            <input message="tns:CreateEosConnectionRequest" />
            <output message="tns:CreateEosConnectionResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="cancelEosConnection">
            <input message="tns:CancelEosConnectionRequest" />
            <output message="tns:CancelEosConnectionResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="reserveEosResource">
            <input message="tns:ReserveEosResourceRequest" />
            <output message="tns:ReserveEosResourceResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="changeEosLine">
            <input message="tns:ChangeEosLineRequest" />
            <output message="tns:ChangeEosLineResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="changeEosNameAddress">
            <input message="tns:ChangeEosNameAddressRequest" />
            <output message="tns:ChangeEosNameAddressResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>

        <operation name="disableFeature">
            <input message="tns:disableFeatureRequest" />
            <output message="tns:disableFeatureResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="enableFeature">
            <input message="tns:enableFeatureRequest" />
            <output message="tns:enableFeatureResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="findHierarchyId">
            <input message="tns:findHierarchyIdRequest" />
            <output message="tns:findHierarchyIdResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="getAbonentInfo">
            <input message="tns:getAbonentInfoRequest" />
            <output message="tns:getAbonentInfoResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="getAgreementInfo">
            <input message="tns:getAgreementInfoRequest" />
            <output message="tns:getAgreementInfoResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="isCtnBelongToBan">
            <input message="tns:isCtnBelongToBanRequest" />
            <output message="tns:isCtnBelongToBanResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="retrieveBANsList">
            <input message="tns:retrieveBANsLisRequest" />
            <output message="tns:retrieveBANsListResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="retrieveCTNsListWithElementFilter">
            <input message="tns:retrieveCTNsListWithElementFilterRequest" />
            <output message="tns:retrieveCTNsListWithElementFilterResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="retrieveCustomerHierarchy">
            <input message="tns:retrieveCustomerHierarchyRequest" />
            <output message="tns:retrieveCustomerHierarchyResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="updateAgreementParams">
            <input message="tns:updateAgreementParamsRequest" />
            <output message="tns:updateAgreementParamsResponse" />
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="activateEosConnectionWithBan">
            <input message="tns:activateEosConnectionWithBan"/>
            <output message="tns:activateEosConnectionWithBanResponce"/>
            <fault name="ServiceException" message="tns:ServiceException" />
        </operation>
        <operation name="createBankPayment">
            <input message="tns:createBankPaymentRequest"/>
            <output message="tns:createBankPaymentResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="cancelPayment">
            <input message="tns:cancelPaymentRequest"/>
            <output message="tns:cancelPaymentResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="getCustomerProperties">
            <input message="tns:getCustomerPropertiesRequest"/>
            <output message="tns:getCustomerPropertiesResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>
        <operation name="createMEMO">
            <input message="tns:createMEMO"/>
            <output message="tns:createMEMOResponse"/>
            <fault message="tns:ServiceException" name="ServiceException"/>
        </operation>

    </portType>

    <!-- binding -->

    <binding name="NAPIPortBinding" type="tns:NAPIEjbBean">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="changePP">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="searchByResource">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="addService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getPPorSocByRequestId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createOcCharge">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createOcBonus">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="addParametrizedPPorSocByRequestId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="fttbChangePPorSocAndFeatureParamByRequestId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="delParametrizedPPorSocByRequestId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="activateEosConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateEosClientInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeEosAddressByRequestId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeEosNameByRequestId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="activateCTN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="addSOC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelCTN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeCtn">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeCustomerProperty">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeFeatureParameters">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="checkRegistrationType">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createSubscriberAppl">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="deleteCTN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="delService">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="delSOC">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getBanBalance">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getBanSubscribers">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCountCtnOnBan">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getServiceList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getSubscriberInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getUsage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="loadCTN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="replaceSIM">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="restoreCTN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="suspendCTN">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="suspendImsiOrCtn">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="insertAgreement">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="delDiscount">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createEosConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelEosConnection">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="reserveEosResource">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeEosLine">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="changeEosNameAddress">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="disableFeature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="enableFeature">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="findHierarchyId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAbonentInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getAgreementInfo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="isCtnBelongToBan">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="retrieveBANsList">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="retrieveCTNsListWithElementFilter">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="retrieveCustomerHierarchy">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="updateAgreementParams">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="activateEosConnectionWithBan">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createBankPayment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="cancelPayment">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="getCustomerProperties">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
        <operation name="createMEMO">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </input>
            <output>
                <soap:body use="literal" namespace="http://beeline.ru/napi"/>
            </output>
            <fault name="ServiceException">
                <soap:fault name="ServiceException" use="literal"/>
            </fault>
        </operation>
    </binding>

    <!-- service -->

    <service name="NAPIService">
        <port name="NAPIPortPromotionManagement" binding="tns:NAPIPortBinding">
            <soap:address location="http://localhost:8080/NAPIService/NAPIEjbBean"/>
            <wsp:PolicyReference URI="#HttpBasicAuthBindingBindingAMPolicy"/>
        </port>
    </service>
    <wsp:Policy wsu:Id="HttpBasicAuthBindingBindingAMPolicy">
        <mysp:MustSupportBasicAuthentication on="true">
            <mysp:BasicAuthenticationDetail>
                <mysp:WssTokenCompare/>
            </mysp:BasicAuthenticationDetail>
        </mysp:MustSupportBasicAuthentication>
        <mysp:UsernameToken
            mysp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
           <!-- <wsp:Policy>
                <sp:WssUsernameToken10>${PromotionManagementNAPIProxyLogin}</sp:WssUsernameToken10>
                <sp:WssPassword>${PromotionManagementNAPIProxyPass}</sp:WssPassword>
            </wsp:Policy>-->
        </mysp:UsernameToken>
    </wsp:Policy>


</definitions>